{% extends "layout.jinja2" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" class="form-inline">
        <div class="form-group">
            <label for="title">{{form.username.label}}</label>
            {{form.username(class_='form-control')}}
        </div>
        <div class="form-group">
            <label for="body">{{form.password.label}}</label>
            {{form.password(class_='form-control')}}
        </div>
        <div class="form-group">
            <label></label>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
{% endblock %}